@import url("./font.css");
* {
    outline: transparent;
}

body {
    height: 100vh;
    background: url("../Assets/geklautes_bild_bus.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(6px);
    background-size: cover;
    background-color: #f2d5d4;
    color: rgb(0, 0, 0);
    font-family: "Nanum Gothic Coding";
    animation: website-startup 0.24s;

}

header {
    height: 100vh;
}

@keyframes website-startup {
    0% {
        opacity: 0.3;
        padding-top: 20px;
    }
    50% {
        opacity: 0.6;
        padding-top: 10px;
    }
    100% {
        opacity: 1;
        padding-top: 0px;
    }
}

.title {
    display: block;
    text-align: center;
}

.title h1 {
    display: inline-block;
    margin-top: 150px;
    font-size: 50px;
    padding: 10px 20px;
    background-color: #f2d5d4;
    color: #AD5D55;
    box-shadow: 4px 4px 0px 0px #AD5D55;
    display: inline-block;
}

.scroll-down {
    color: rgb(67, 59, 59);
    position: absolute;
    width: 100%;
    display: grid;
    justify-content: center;
    bottom: 30px;
}

.scroll-down h6 {
    padding: 10px 20px;
    background-color: #f2d5d4;
    color: #AD5D55;
    box-shadow: 4px 4px 0px 0px #AD5D55;
    grid-row: 1;
    text-align: center;
}

.arrow {
    border-bottom: solid 3px #fff8f8;
    border-right: solid 3px #fff8f8;
    height: 10px;
    width: 10px;
    display: block;
    transform: rotate(45deg);
    grid-row: 2;
    position: relative;
    right: calc(-50% + 8.5px);
    top: 10px;
}

.logo {
    display: inline;
    border-radius: 200px;
    height: 64px;
    margin-left: 30px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: unset;
}

.articles {
    background-color: #f3e4e4;
    padding: 10%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
    text-align: center;
    line-height: 1.6;
}

.articles h2 {
    font-size: 24px;
    font-weight: bold;
}

.articles img {
    font-size: 14px;
    border-radius: 6px;
    height: 150px;
}

.articles article {
    transition: background 0.3s;
    padding: 10px 0px;
}

.articles article:hover {
    background: rgba(44, 44, 44, 0.131);
    border-radius: 6px;
}

.footer {
    background-color: #c4a19e;
    color: white;
    padding: 5%;
    display: grid;
    grid-template-columns: auto 30%;
    grid-gap: 16px;
}

.footer a {
    background-color: #c4a19e;
    color: white;
    text-decoration: none;
    display: block;
}

.footer h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

#account {
    display: inline;
    float: right;
    padding: 10px 20px;
    background-color: #f2d5d4;
    font-weight: bold;
    color: #AD5D55;
    border-radius: 25px;
    margin: 47px 30px 0px 0px;
    user-select: none;
    cursor: pointer;
    transition: filter 0.3s;
}

#account:hover {
    filter: brightness(1.3);
}

#account-manager {
    background: #f2d5d4;
    border-radius: 6px;
    padding: 10px;
    width: 230px;
    position: absolute;
    right: 30px;
    top: 90px;
    display: none;
    animation: openAccountM 0.3s ease-in forwards;
}

@keyframes openAccountM {
    0% { opacity: 0; transform: translateY(-50px) }
    100% {opacity: 1; transform: translateY(0px);}
}

@keyframes closeAccountM {
    0% {opacity: 1; transform: translateY(0px);}
    100% { opacity: 0; transform: translateY(-50px) }
}

#account-manager input, #account-manager button {
    display: block;
    margin: 10px 0px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    background: #c4a19e;
    font-family: 'Nanum Gothic Coding';
    padding: 6px 4px;
    border-radius: 6px;
    font-size: 15px;
    border: 2px solid #AD5D55;
    color: #ffffff;
}

#account-manager input::placeholder{
color: #ffffff;
}

#account-manager button {
    background: #AD5D55;
}

#account-manager button:hover {
    background: #ce726a;
}