form {
    display: grid;
    padding: 6%;
    grid-gap: 10px;
}

form input, form button, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: #c4a19e;
    font-family: 'Nanum Gothic Coding';
    padding: 14px 6px;
    border-radius: 6px;
    font-size: 15px;
    border: 2px solid #AD5D55;
    color: #ffffff;
    outline: none;
    transition: 0.3s filter;
}

form button {
    background: #85b9e1fc;
    border: 0;
    display: inline-block;
    padding: 20px 30px;
    width: max-content;
    grid-row: 5;
}

form input:focus, textarea:focus, form button:hover {
    filter: brightness(1.2);
}

#name, #email {
    grid-row: 1;
}

#phone, #subject {
    grid-row: 2;
}

#text {
    grid-row: 4;
    grid-column: 1/3;
    height: 45vh;
}

.text-label{
    grid-column: 1/3;
    grid-row: 3;
    display: block;
}

#text ::placeholder {
    top: -40vh;
    position: absolute;
}

#support-information ::placeholder {
    color: #ffffff;
}

.logo {
    margin: 10px 0px -30px 30px;
}