@import url(font.css);

body{
    background-color: black;
    color: aliceblue;
    font-family: 'Nanum Gothic Coding';
}

table {
    margin-top: 3%;
    display: grid;
    grid-template-areas: "header" "content";
}

table th {
    font-size: 24px;
    grid-area: "header";
}

.menu-button{
    text-decoration: none;
    color: rgb(48, 96, 167);
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(65, 64, 64);
    margin-top: 1.5%;
}